alias A='./a.out < in.txt'
alias C='g++ -std=c++11 '
alias -g H='head'
alias -g G='grep'
alias cls='clear'
alias g='git'
alias grep='grep --color=auto'
alias ks='ls'
alias l='ls'
alias la='ls -a'
alias ll='ls -l'
alias ls='ls -F --color=auto'
