[user]
  email = utagawakiki@gmail.com
  name = UTAGAWA Kiki
[color]
  branch = auto
  diff = auto
  grep = auto
  interactive = auto
  status = auto
[core]
  autocrlf = input
  editor = vim
  excludesfile = ~/.gitignore.global
[alias]
  co = checkout
  cm = commit
  st = status
  sta = stash
  br = branch
  bl = blame
  pm = push origin master
  pfm = push --force origin master
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  ln = log --oneline
