"*":
  "exception-reporting":
    userId: "290e8ec1-2839-05c4-1d49-8cf450e6cd9b"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    projectHome: "/home/utgw"
  editor:
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
    fontSize: 18
    fontFamily: "Ricty Diminished Discord"
  minimap:
    plugins:
      "git-diff": true
      bookmarks: true
      "minimap-autohide": true
      selection: true
      pigments: true
      "find-and-replace": true
      "minimap-hide": true
      cursorline: true
  whitespace:
    removeTrailingWhitespace: false
    ensureSingleTrailingNewline: false
    keepMarkdownLineBreakWhitespace: false
    ignoreWhitespaceOnCurrentLine: false
  linter: {}
  "custom-title":
    template: "<% if (relativeFilePath) { %><%= relativeFilePath %><% } else { %><%= fileName %><% } %><% if (projectPath) { %> - <%= projectPath %><% if (gitHead) { %> [<%= gitHead %>]<% } %><% } %> - Atom <%= atom.getVersion() %>"
