@background-img-path: "file:///home/utgw/Pictures/rumia_00109.jpg";
@editor_font: "Ricty Diminished Discord";

.pane {
  background: url(@background-img-path);
  background-size: contain;
}

.editor {
  background: rgba(255, 255, 255, .20);
  font-family: @editor_font;
}

.vertical {
  .pane {
    padding: 0;
  }
}
