alias A='./a.out < in.txt'
alias C='g++ -std=c++11 '
alias cls='clear'
alias g='git'
alias grep='grep --color=auto'
alias ks='ls'
alias l='ls'
alias la='ls -a'
alias ll='ls -l'
alias ls='ls -F --color=auto'
alias rl='rlwrap'
alias CALL="jq '.data.sections[2].data.stages[1].data.activity.data.multipleQuestionSet.data.questionSet[].data.question[].data.distractors[].data | select(.correct).text' "

if [[ "$0" = *zsh ]]; then
  alias -g H='| head'
  alias -g T='| tail'
  alias -g G='| grep'
fi

if [ "`uname`" = "Darwin" ]; then
  alias ls='ls -FG'
fi
