[alias]
  bl = blame
  br = branch
  cm = commit
  co = checkout
  diffs = diff --staged
  dump = cat-file -p
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  ln = log --oneline
  pfm = push --force origin master
  pm = push origin master
  st = status
  sta = stash
  sw = switch
  type = cat-file -t
[color]
  branch = auto
  diff = auto
  grep = auto
  interactive = auto
  status = auto
[core]
  autocrlf = input
  editor = vim
  excludesfile = ~/.gitignore.global
[include]
  path = ~/.gitconfig.local
[rebase]
  autosquash = true
[user]
  email = utagawakiki@gmail.com
  name = UTAGAWA Kiki
